.news-list {
    @include flex($justify: flex-start);    
    padding: 40px 0;

    @media (max-width: 767px) {
        margin: 0 -10px;
    }
}

.news-card {
    width: 30%;
    text-align: left;
    padding: 25px;
    background-color: #fff;
    margin-right: 5%;
    margin-bottom: 5%;
    box-shadow: 0 25px 25px rgba(0,0,0,0.4);
    outline: 1px solid rgba(189, 189, 189, 0.42);
    outline-offset: -10px;
    color: $text;
    @include transition(all, .2s);

    @media (max-width: 1500px) {
        padding: 20px;
    }

    @media (max-width: 1040px) {
        width: 32%;
        margin-right: 2%;
        margin-bottom: 2%;
    }
    @media (min-width: 768px) {
        &:nth-of-type(3n + 3) {
            margin-right: 0;
        }    
    }
    @media (max-width: 767px) {
        width: -webkit-calc(50% - 20px);
        width: calc(50% - 20px);
        margin: 0 10px 20px 10px;
    }

    @media (max-width: 550px) {
        width: -webkit-calc(100% - 20px);
        width: calc(100% - 20px);
    }
    
    &__img {
        background-color: #444;
        margin-bottom: 40px;
        -webkit-background-size: 50% 50%;
             -o-background-size: 50% 50%;
                background-size: 50% 50%;
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
        @media (max-width: 1500px) {
            margin-bottom: 20px;
        }
        &:after {
            content: "";
            display: block;
            padding-bottom: 60%;
        }
    }
    hr {
        opacity: .8;
        border: none;
        border-bottom: 1px solid rgba(189, 189, 189, 0.42);
        background: none;
        height: 0;
    }
    &__info {
        font-size: 16px;
        padding: 0 10px;
        @media (max-width: 1700px) {
            font-size: 15px;
        }
        @media (max-width: 1500px) {
            font-size: 14px;
        }
        time,
        &__comments {
            font-weight: 300;
            color: #444;
            font-size: 14px;
            @media (max-width: 1500px) {
                font-size: 12px;
            }
        }
        &__comments {
        }
        &__title {
            font-family: 'Lobster', cursive;
            font-size: 20px;
        }
        p {
            font-weight: 400;
        }
        &__excerpt {
            position: relative;
            height: 88px; /* 4 x line-height(19px) */
            overflow: hidden;

            @media (max-width: 1500px) {
                height: 76px;
            }


            &:after {
                content: '';
                width: 50%;
                height: 19px;
                position: absolute;
                right: 0;
                bottom: 0;
                background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.95) 50%, rgba(255,255,255,1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(50%, rgba(255,255,255,0.95)), color-stop(100%, rgba(255,255,255,1)));
                background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.95) 50%, rgba(255,255,255,1) 100%);
                background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.95) 50%, rgba(255,255,255,1) 100%);
                background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.95) 50%, rgba(255,255,255,1) 100%);
                background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.95) 50%, rgba(255,255,255,1) 100%);
            }
        }
        .button {
            margin-top: 20px;
        }
    }
    &:hover {
        outline: 1px solid rgba(189, 189, 189, 0.42);
        -webkit-transform: translateY(-10px);
           -moz-transform: translateY(-10px);
            -ms-transform: translateY(-10px);
             -o-transform: translateY(-10px);
                transform: translateY(-10px);
    }
}

.breadcrumbs {
    list-style-type: none;
    margin-top: 40px;
    text-align: left;
    @media (max-width: 800px) {
        padding-right: 40px;
    }
    @media (max-width: 1500px) {
        margin-top: 20px;
    }
    @media (max-width: 760px) {
        margin-top: 10px;
    }
    li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        @media (max-width: 1500px) {
            margin-right: 4px;
        }
        &:after {
            content: "/";
            display: inline-block;
            vertical-align: middle;
            color: #FFF;
            opacity: .6;
            font-weight: 300;
        }
        a {
            color: #FFF;
            display: inline-block;
            padding-right: 10px;
            font-weight: 300;
            font-size: 16px;
            opacity: .6;
            @include transition(all, .2s);
            &:hover {
                opacity: 1;
            }
            @media (max-width: 1700px) {
                font-size: 15px;
            }
            @media (max-width: 1500px) {
                font-size: 14px;
                padding-right: 8px;
            }
            @media (max-width: 800px) {
                font-size: 13px;
            }
            @media (max-width: 600px) {
                font-size: 12px;
            }
        }
        &:last-of-type {
            margin-right: 0;
            &:after {
                display: none;
            }
            a {
                opacity: 1;
            }
        }
    }
}

.article-gallery {
    width: 820px;
    margin: 70px auto;
    max-width: 100%;
    @media (max-width: 500px) {
        margin: 40px auto;
    }
    .gallery-item {
        display: block;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;

        img {
            display: block;
            width: 100%;
            margin: 0;
        }

        &:hover {
            -webkit-transform: scale(1.02);
            -ms-transform: scale(1.02);
            -o-transform: scale(1.02);
            transform: scale(1.02);
        }
    }

    .gallery-caption {
        margin: 40px 0 0;
        text-align: center;
        font-family: $os;
        font-style: italic;
        font-size: 16px;
        color: #444;
        @media (max-width: 1700px) {
           margin: 60px 0;
           font-size: 15px;
           margin: 30px  0;
        }
        @media (max-width: 1400px) {
           margin: 50px 0;
           font-size: 14px;
           margin: 20px  0;
        }
        @media (max-width: 1200px) {
           margin: 40px 0;
        }
        @media (max-width: 800px) {
           margin: 45px 0;
        }
        @media (max-width: 1200px) {
            font-size: 13px;
        }
        @media (max-width: 800px) {
            font-size: 12px;
        }
        @media (max-width: 500px) {
            font-size: 11px;
        }
        p {
            margin: 0;
        }

        &:after {
            content: '';
            width: 110px;
            height: 2px;
            background-color: #a7a6a6;
            margin: 20px auto 0;
            display: block;
            @media (max-width: 1700px) {
               margin: 40px auto  0;
            }
            @media (max-width: 1400px) {
               margin: 30px auto  0;
            }
            @media (max-width: 1200px) {
               margin: 20px  auto 0;
            }
            @media (max-width: 600px) {
                height: 1px;
            }
        }
    }
}


.comments {
    padding: 5% 10%;
    background-color: #FFF;
    color: $text;
    text-align: left;
    h3 {
        margin-bottom: 40px;
    }
}

.comment {
    margin-bottom: 40px;
    > div {
        @include flex();
    }
    &__author {
        font-weight: 700;
        display: block;
        margin-bottom: 15px;
    }
    time {
        font-style: italic;
        color: #444;
        margin-bottom: 15px;
    }
}

.form-comment {
    margin-top: 80px;
    @media (max-width: 600px) {
        margin-top: 40px;
    }
    .form-group {
        @include flex();
        @media (max-width: 600px) {
            display: block;
        }
        input {
            width: 49%;
            height: 50px;
            padding-left: 20px;
            margin-bottom: 10px;
            border: 1px solid #a7a6a6;
            border-radius: 2px;
            font-family: #os;
            font-size: 16px;
            @media (max-width: 600px) {
                font-size: 14px;
                width: 100%;
                height: 40px;
                padding-left: 10px;
            }
            @media (max-width: 360px) {
                font-size: 12px;
            }
        }
    }
    textarea {
        width: 100%;
        height: 80px;
        padding-left: 20px;
        padding-top: 20px;
        margin-bottom: 10px;
        border: 1px solid #a7a6a6;
        border-radius: 2px;
        font-family: #os;
        font-size: 16px;
        resize: none;
        @media (max-width: 600px) {
            height: 70px;
            padding-top: 10px;
            padding-left: 10px;
            font-size: 14px;
        }
        @media (max-width: 360px) {
            font-size: 12px;
        }
    }
}

.share {
    color: #FFF;
    text-transform: uppercase;
    position: fixed;
    right: 0px;top: 0;
    bottom: 0;
    margin: auto;
    height: 150px;
    font-size: 12px;
    img {
        display: block;
        width: 40px;
    }
    span {
        display: block;
        margin-bottom: 10px;
    }
    @media (max-width: 1100px) {
        span {
            display: none;
        }
    }
}