
// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
    background: #fff;
    font: 300 21px $dp;
    color: #454545;
    background-attachment: fixed;
}
body {
    font-family: $dp;
    padding-top: 60px;
}
h1, h2, h3, h4, h5, h6 {
    color: #151515;
    letter-spacing: 1px;
}
h1 {
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 40px;
    &:after {
        content: "";
        display: block;
        width: 100px;
        height: 2px;
        background-color: $accent;
        margin: 20px auto 0;
    }
}
article {
    text-align: left;
    padding: 0 10%;
    margin: 0 auto;
    img {
        width: 140%;
        display: block;
        margin: 60px auto 60px;
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    p {
        margin-bottom: 20px;
        line-height: 1.6;
    }
    span {
        line-height: 1.6;
    }
}

article p {
    margin-bottom: 20px;
}

// lAYOUT
// ---------------------------
.wrapper {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}


.parallax {
}