
// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
    background-image: url("../images/bg-body.jpg");
}


// lAYOUT
// ---------------------------
.wrapper {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}
