
// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
    background: #fafafa;
    font: 400 18px $os;
    color: #fff;
    overflow: auto;
    @media (max-width: 1700px) {
        font-size: 17px;
    }
    @media (max-width: 1500px) {
        font-size: 16px;
    }
    @media (max-width: 1200px) {
        font-size: 15px;
    }
    @media (max-width: 800px) {
        font-size: 14px;
    }
    @media (max-width: 500px) {
        font-size: 13px;
    }
    @media (max-width: 340px) {
        font-size: 12px;
    }
}
body {
    font-family: $os;
    padding-top: 60px;
    overflow: auto;
    background-image: url("../images/bg.jpg");
    background-position: 50% 50%;
    background-attachment: fixed;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    @media (max-width: 760px) {
        padding-top: 20px;
    }
    &.dark-bg {
        background-image: none;
        height: auto;
    }
}

h1 {
    font-size: 72px;
    margin-bottom: 40px;
    font-family: 'Lobster', cursive;
    font-weight: 400;
    letter-spacing: 3px;
    font-style: normal;
    &:after {
        content: "";
        display: block;
        width: 60px;
        height: 4px;
        background-color: #fff;
        margin: 20px auto 0;
        @media (max-width: 800px) {
            height: 3px;
            margin-top: 15px;
        }
        @media (max-width: 600px) {
            height: 2px;
            margin-top: 10px;
        }
    }
    @media (max-width: 1700px) {
        font-size: 64px;
    }
    @media (max-width: 1500px) {
        font-size: 58px;
    }
    @media (max-width: 1200px) {
        font-size: 48px;
    }
    @media (max-width: 800px) {
        font-size: 40px;
        letter-spacing: 2px;
    }
    @media (max-width: 600px) {
        font-size: 32px;
        letter-spacing: 1px;
        margin-bottom: 30px;
    }
}
h2,
h3,
h4 {
    font-family: 'Lobster', cursive;
    letter-spacing: 3px;
    font-weight: normal;
    @media (max-width: 800px) {
        letter-spacing: 2px;
    }
    @media (max-width: 600px) {
        letter-spacing: 1px;
    }
}
h2 {
    font-size: 48px;
    @media (max-width: 1700px) {
        font-size: 42px;
    }
    @media (max-width: 1500px) {
        font-size: 38px;
    }
    @media (max-width: 1200px) {
        font-size: 32px;
    }
    @media (max-width: 800px) {
        font-size: 28px;
    }
    @media (max-width: 600px) {
        font-size: 24px;
    }
}
h3 {
    font-size: 38px;
    @media (max-width: 1700px) {
        font-size: 36px;
    }
    @media (max-width: 1500px) {
        font-size: 32px;
    }
    @media (max-width: 1200px) {
        font-size: 28px;
    }
    @media (max-width: 800px) {
        font-size: 24px;
    }
    @media (max-width: 600px) {
        font-size: 20px;
    }
}
blockquote {
    line-height: 1.6;
    position: relative;
    margin: 40px auto;
    padding-left: 40px;
    border-left: 2px solid #fff;
    color: #fff;
    font-style: italic;
    width: 100%;
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px);
    margin-left: 40px;
    @media (max-width: 600px) {
        width: -webkit-calc(100% - 20px);
        width: calc(100% - 20px);
        margin-left: 20px;
        padding-left: 20px;
        border-width: 1px;
        margin: 20px auto;
    }
}
article {
    text-align: left;
    padding: 0 10%;
    margin: 0 auto;
    > img,
    > p > img {
        width: 100%;
        display: block;
        margin: 60px auto 60px;
        @media (max-width: 600px) {
            margin: 40px auto;
        }
    }
    img {
        max-width: 100%;
    }
    p {
        margin-bottom: 20px;
        line-height: 1.6;
        @media (max-width: 600px) {
            margin-bottom: 15px;
        }
    }
    span {
        line-height: 1.6;
    } 
    h2,
    h3,
    h4{
        margin-bottom: 20px;
        margin-top: 30px;
        @media (max-width: 600px) {
            margin-top: 20px;
            margin-bottom: 15px;
        }
    }
    @media (max-width: 800px) {
        padding: 0 8%;
    }
    @media (max-width: 600px) {
        padding: 0  6%;
    }
}
.tags {
    margin-top: 40px;
    @media (max-width: 600px) {
        margin-top: 30px;
    }
}
.tag {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    padding: 0 15px;
    border: 1px solid #a7a6a6;
    line-height: 26px;
    font-size: 14px;
    color: $text;
    font-weight: 300;
    font-style: italic;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    @include transition(all, .2s);
    &:hover {
        background-color: #A7A6A6;
        color: #fff;
    }
    @media (max-width: 600px) {
        font-size: 12px;
        line-height: 22px;
        padding: 0 10px;
        margin-right: 6px;
    }
    @media (max-width: 500px) {
        font-size: 11px;
    }
}
.article {
    margin: 40px auto 40px;
    padding: 10%;
    background-color: #FFF;
    color: $text;
    @media (max-width: 800px) {
        padding: 8%;
    }
    @media (max-width: 600px) {
        padding:  6%;
    }
    img {
        border: none;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    h1 {
        &:after {
            background-color: $text;
            margin-left: 0;
        }
    }
    blockquote  {
        border-left: 2px solid #a7a6a6;
        color: #444;
        @media (max-width: 600px) {
            border-width: 1px;
        }
    }
}
article p {
    margin-bottom: 20px;
}

// lAYOUT
// ---------------------------
.wrapper {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
    @media (max-width: 1500px) {
        width: 1000px;
    }
    @media (max-width: 1040px) {
        width: 100%;
        padding: 0 20px;
    }
}


.dark-bg,
.portfolio {
    background: #000;
}
.flex-grid {
    @include flex($alignI: stretch, $justify: flex-start);
    margin: 0 -10px -20px;
    position: relative;
    
    .column-2 {
        width: 50%;
        padding: 0 10px;
        margin-bottom: 20px;
        @media (max-width: 1100px) {
            width: 100%;
            margin-bottom: 20px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .column-3 {
        width: 33.333%;
        padding: 0 10px;
        margin-bottom: 20px;
        @media (max-width: 800px) {
            width: 50%;
        }
        @media (max-width: 600px) {
            width: 100%;
        }
    }

    .column-4 {
        width: 25%;
        padding: 0 10px;
        margin-bottom: 20px;
        @media (max-width: 800px) {
            width: 33.332%;
        }
        @media (max-width: 600px) {
            width: 50%;
        }
        @media (max-width: 400px) {
            width: 100%;
        }
    }
}


.map {
    height: 400px;
    margin: 60px auto;
    @media (max-width: 600px) {
        height: 250px;
        margin: 40px auto;
    }
}
address {
    display: block;
    width: 500px;
    max-width: 100%;
    font-size: 21px;
    text-align: center;
    margin: 20px auto 40px;
    @media (max-width: 800px) {
        font-size: 18px;
    }
    @media (max-width: 600px) {
        font-size: 16px;
        margin: 10px auto 20px;
    }
}
.tel {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #FFF;
    text-align: center;
    @media (max-width: 800px) {
        font-size: 16px;
    }
    @media (max-width: 600px) {
        font-size: 14px;
    }
    &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin-top: -2px;
        width: 16px;
        height: 16px;
        margin-right: 6px;
        background-position: 50% 50%;
        -webkit-background-size: auto 100%;
             -o-background-size: auto 100%;
                background-size: auto 100%;
        background-image: url("../images/smartphone.svg");
    }
    &.cell:before {
        background-image: url("../images/phone.svg");
    }
}
.email {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #FFF;
    text-align: center;
    @media (max-width: 800px) {
        font-size: 16px;
    }
    @media (max-width: 600px) {
        font-size: 14px;
    }
    &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin-top: -2px;
        width: 16px;
        height: 16px;
        margin-right: 6px;
        background-position: 50% 50%;
        -webkit-background-size: auto 100%;
             -o-background-size: auto 100%;
                background-size: auto 100%;
        background-image: url("../images/envelope.svg");
    }
}



.article-gallery {
    figure {
        margin: 0;
        padding: 0;

        figcaption {
            display: none;
        }
    }

    @media (min-width: 601px) {
        .column-2 {
            width: 50%;
        }
    }
}