// COLORS
// ---------------------------
$base : #3C3C3C;
$accent : #f26532;

$text : #0B0B0B;

// FONTS
// ---------------------------
$dp:                        'DIN Pro';
$os:                        'Open Sans', sans-serif;


// RESPONSIVE
// ---------------------------
